################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Clock/.vs/Clock/v16
/Clock/bin/Debug
/Clock/obj/Debug
/Clock/Properties
